extends ../layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/cart.css")
    
block content 
    if cart.items.length > 0 
        .container.col-md-offset-2.col-md-8
            table.table.table-striped.table-sm
                thead 
                    tr 
                        th(scope='col') Pos
                        th(scope='col') Title 
                        th.text-right(scope='col') Qty 
                        th.text-right(scope='col') Price 
                        th.text-right(scope='col') Sum 
                        th(scope='col')

                tbody
                    each item, index in cart.items 
                        tr
                            th(scope='row') #{index+1}
                            td.col-8 #{item.product.title}
                            td.col-1.text-right #{item.quantity}
                            td.col-1.text-right #{(item.product.price).toFixed(2)}
                            td.col-1.text-right #{(item.quantity * item.product.price).toFixed(2)}
                            td.text-right.col-2
                                form.form-inline(action="/cart-delete-item", method='POST')
                                    input(type='hidden', name='_csrf', value=csrfToken)
                                    input(type = 'hidden', name='productId', value=item.product._id)
                                    button.form-control-sm.btn.btn-sm.btn-danger(type="submit") Delete
                    tr 
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                        th.text-right(scope='col') Sum
                        th.text-right(scope='col') #{cart.totalPrice.toFixed(2)}
                        th.text-right(scope='col')
                            form.form-inline(action="/create-order", method='POST')
                                input(type='hidden', name='_csrf', value=csrfToken)
                                button.form-control-sm.btn.btn-sm.btn-success(type="submit") Order Now!
                
    else 
        .container
            h1 No products in cart
